@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background-color: #EEF4ED;
    margin: 0;
    height: 620px;
}

header {
    background-color: #50514F;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    width: 980px;
}

.status {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 32px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: white;
}

.status-value {
    background-color: gray;
    color: white;
    padding: 5px 12px;
    font-size: 20px;
    border-radius: 10px;
}

.atualizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
}

.atualizar button {
    all: unset;
    outline: none;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-color: #50514F;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 4px #999;
    user-select: none;
}

.atualizar button:active {
    transform: translateY(2px)
}